#~/.ssh/config
ForwardAgent            yes
TCPKeepAlive            yes

## VMware hypervisors
Host tchv01 tchv02
  user                  root

# ITC non-DUT systems
Host tcsrv01 tchv03 tchv04
  user                  CHANGE_TO_LOGIN_ID

# DUTs / other
Host tc* vcmp* ve* big* mve* 172.22.56.* 172.22.57.* 172.22.48.*
  user                  root
  UserKnownHostsFile    /dev/null
  StrictHostKeyChecking no
  LogLevel              quiet


