$ORIGIN .
$TTL 10	; 10 seconds
ZONE.ZONE		IN SOA	ns1.ZONE.ZONE. root.ZONE.ZONE. (
				2015101301 ; serial
				21600      ; refresh ( 6 hours)
				 3600      ; retry   (46 minutes 40 seconds)
				64800      ; expire  (18 hours)
				   10      ; minimum (10 seconds)
				)
			NS	ns1.ZONE.ZONE.
			A	10.111.101.10
$ORIGIN ZONE.ZONE.


